{% extends 'base.html' %} {% block content %}
<h1>LOGIN PAGE</h1>
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <div>
    <label class="form-label" for="email">Email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <div>
    <label class="form-label" for="password">Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock content %}
