{% extends 'base.html' %} {% block content %}
<h1>LOGIN PAGE</h1>
<div class="container">
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div>
      <label class="form-label" for="email">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
    <div>
      <label class="form-label" for="password">Password</label>
      <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock content %}
